{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}]
  },

  "ignoreFiles": [
    "source/sass/normalize.scss"
]
  "ignoreFiles": [
    "source/js/picturefill.js"
]
}
