.additional__title {
  font-size: 24px;
  line-height: 24px;
}

.additional__subtitle {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

.additional__cell {
  font-family: $arial;
  font-size: 14px;
  line-height: 14px;
  color: $grey;
}

.additional__link {
  font-size: 16px;
  line-height: 20px;
  color: $white;
  text-transform: uppercase;
}
