.advantages__title {
  @include indent-reset;
  margin-top: 14px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
  @media (min-width: $desktop) {
    font-size: 60px;
    line-height: 60px;
}
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {

  }
}


.advantages__item {
  position: relative;
  margin-bottom: 26px;
  &::before {
      position: absolute;
      content: "";
      top: -3px;
      width: 60px;
      height: 60px;
      background-color: $green;
      background-size: 50px 50px;
      background-repeat: no-repeat;
      background-position: center;
  }
  &:nth-child(1)::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
  &:nth-child(2)::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
  &:nth-child(3)::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
  &:nth-child(4)::before {
    background-image: url("../img/advantage-clock@1x.png");

  }

}

.advantages__text {
  @include indent-reset;
  width: 280px;
  padding-left: 80px;
  font-size: 14px;
  font-family: $arial;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}
