.btn {
  display: inline-block;
  padding: 9px 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;

  &--grey {
    color: $grey;
    background-color: $bg-grey;
  }

  &--green {
    color: white;
    background-color: $green;
  }

  &--promo {
    position: relative;
    margin: 303px 20px 21px;
    padding: 11px 72px;
    font-size: 14px;
    line-height: 18px;
  }

  &--product {
    width: 100%;
  }

  &--form {
    width: 100%;
    margin-bottom: 23px;
    border: 0;
  }
}
