.btn {
  display: inline-block;
  padding: 9px 72px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  word-wrap: break-word;

  &--grey {
    color: $grey;
    background-color: $bg-grey;
  }

  &--green {
    color: white;
    background-color: $green;
  }

  &--promo {
    position: relative;
    margin: 303px 20px 21px;
    padding: 11px 72px;
    font-size: 14px;
    line-height: 18px;

    @media (min-width: $tablet) {
      margin: 0;
      margin-top: 48px;
      padding: 15px 29px 17px 26px;
      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop) {
      margin-top: 52px;
      margin-left: 2px;
    }
  }

  &--product {
    width: 100%;

    @media (min-width: $tablet) {
      width: auto;
      margin-top: 29px;
      margin-right: 17px;
      margin-left: 21px;
      padding: 9px 94px;
    }

    @media (min-width: $desktop) {
      margin: 0;
      margin-top: 27px;
      padding: 9px 54px;
    }
  }

  &--show-more {
    @media (min-width: $tablet) {
      padding: 9.5px 80px;
    }

    @media (min-width: $desktop) {
      padding: 9.5px 39px;
    }
  }

  &--addit {
    @media (min-width: $tablet) {
      @include indent-reset;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }
  }

  &--form {
    width: 100%;
    margin-bottom: 23px;
    border: 0;

    @media (min-width: $tablet) {
      width: auto;
      margin: 0;
      margin-left: 39px;
      padding: 16px 65px;
      font-size: 20px;
    }
  }
}
