.catalog__list {
  @include list-reset;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.catalog__subtitle {
  display: block;
  padding: 30px 0;
  padding-left: 92px;
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 37px;
  }
}

.catalog__text {
  @include indent-reset;
  padding: 0 20px 40px;
  font-size: 14px;
  font-family: $arial;
  color: $grey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.catalog__link {
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 16px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.catalog__item {
  margin-bottom: 20px;
  background-color: $bg-grey;
}
