.coordinates--inner-page {
  background-color: $bg-grey;
}

.coordinates__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @include indent-reset;
}

.coordinates__info {
  font-size: 14px;
  line-height: 20px;
  font-family: $arial;

  @include indent-reset;
}
