.coordinates--inner-page {
  background-color: $bg-grey;
}

.coordinates__title {
  @include indent-reset;
  width: 283px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 235px;
    font-size: 20px;
    line-height: 25px;
  }
}

.coordinates__info {
  @include indent-reset;
  font-size: 14px;
  line-height: 20px;
  font-family: $arial;

  @media (min-width: $tablet) {
    width: 195px;
    font-size: 16px;
    text-align: right;
  }
}

.coordinates__contact {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 25px;

  &--bg {
    background-color: $bg-grey;
  }

  @media (min-width: $tablet) {
    padding-top: 65px;
    padding-right: 40px;
    padding-bottom: 62px;
    padding-left: 40px;
  }
}

.coordinates__map {
  width: auto;
  height: 363px;
  margin: 0 auto;
  background-color: #fdf7f0;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: cover;
  }

  @media (min-width: $tablet) {
    width: auto;
    height: 396px;
    background-image: url("../img/bg-map-tablet@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/bg-map-desktop@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
    }
  }
}
