.examples {
  background-color: $bg-grey;
  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.examples__title {
  @include indent-reset;
  display: block;
  margin-top: 20px;
  padding-top: 18px;
  padding-bottom: 22px;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
  @media (min-width: $tablet) {
    font-size: 60px;
  }
}

.examples__description {
  @include indent-reset;
  padding-right: 10px;
  padding-bottom: 25px;
  font-size: 14px;
  font-family: $arial;
  color: $grey;
  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.examples__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
  text-align: center;
}

.examples__info {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}

.examples__item {
  position: relative;
  text-align: center;
  &--cost {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 45px;
  }
}

.examples__subtitle {
  @include indent-reset;
  width: 124px;
  padding: 15px 0;
  font-size: 24px;
  line-height: 24px;
  color: $black;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  &--cost {
    display: inline;
    padding: 0;
    padding-top: 15px;
    border: none;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }
  @media (min-width: $tablet) {
    font-size: 30px;
  }
}

.examples__text {
  @include indent-reset;
  position: absolute;
  top: 47px;
  right: 25px;
  display: block;
  width: 75px;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  font-family: $arial;
  text-align: center;
  background-color: #f2f2f2;
  &--cost {
    position: static;
    width: auto;
    padding-top: 15px;
    padding-left: 3px;
    font-size: 14px;
    line-height: 20px;
    background-color: transparent;
    font-family: $oswald;
    color: $black;
    text-transform: uppercase;
    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }
  @media (min-width: $tablet) {
    font-size: 14px;
    line-height: 14px;
  }
}

