.form__contact,
.form__radio-btn,
.form__textarea,
.form__checkbox-field,
.form__input {
  @include indent-reset;
  border: 0;
}

.form__list {
  @include list-reset;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &--cat-info {
    position: relative;
    padding-bottom: 23px;

    @media (min-width: $tablet) {
      flex-direction: column;
      margin-left: 40px;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: $border;

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &--radio-field {
    position: relative;
    padding-top: 27px;
    padding-bottom: 26px;

    @media (min-width: $tablet) {
      flex-direction: column;
      margin-top: 50px;
      margin-right: 37px;
      margin-left: 41px;
      padding: 33px 0;
      padding-left: 41px;
      border: 1px solid #e6e6e6;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: -20px;
      width: calc(100% + 40px);
      height: 1px;
      background-color: $border;

      @media (min-width: $tablet) {
        display: none;
      }
    }
  }

  &--user {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: $tablet) {
      margin-left: 40px;
    }
  }

  &--checkbox-field {
    margin-bottom: 41px;

    @media (min-width: $tablet) {
      margin-top: 28px;
      margin-right: 31px;
      margin-left: 53px;
    }
  }
}

.form__item {
  min-width: 280px;

  &--text-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--text-field:not(:last-child) {
    margin-bottom: 16px;

    @media (min-width: $tablet) {
      margin-bottom: 20px;
    }
  }

  &--radio-field {

    &:nth-child(1) {
      margin-bottom: 26px;

      @media (min-width: $tablet) {
        margin-bottom: 33px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 23px;

      @media (min-width: $tablet) {
        margin-bottom: 32px;
      }
    }
  }

  &--checkbox-field {

    &:nth-child(1) {
      margin-bottom: 25px;

      @media (min-width: $tablet) {
        margin-bottom: 51px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 25px;
    }

    &:nth-child(3) {
      margin-bottom: 22px;
    }
  }
}

.form__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $grey;
  text-transform: uppercase;
  word-wrap: break-word;
  border: 1px solid $bg-grey;

  &--text-field {
    flex-grow: 1;
    height: 43px;
    margin-left: 15px;
    padding-left: 15px;

    @media (min-width: $tablet) {
      height: 51px;
      margin-right: 37px;
      margin-left: 19px;
      padding-left: 17px;
    }
  }

  &--user {
    position: relative;
    margin-left: 11px;
    padding-left: 14px;

    @media (min-width: $tablet) {
      margin-left: 16px;
      padding-left: 17px;
    }
  }

  &--radio-field,
  &--checkbox-field {
    display: none;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: $blackish;
  text-transform: uppercase;

  &--radio-field {
    position: relative;
    padding-top: 6px;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 4px;
      left: 1px;
      width: 28px;
      height: 28px;
      margin-bottom: 12px;
      border: 1px solid #e6e6e6;
      border-radius: 50%;
      cursor: pointer;

      @media (min-width: $tablet) {
        top: 1px;
        left: -15px;
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 9px;
      width: 12px;
      height: 12px;
      background-color: $green;
      border-radius: 50%;
      transform: scale(0);
      transition: 0.4s;

      @media (min-width: $tablet) {
        top: 12px;
        left: -4px;
        width: 18px;
        height: 18px;
      }
    }
  }

  &--checkbox-field {
    position: relative;
    padding-top: 6px;
    padding-left: 45px;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: 1px;
      width: 28px;
      height: 28px;
      margin-bottom: 13px;
      border: 1px solid #e6e6e6;
      cursor: pointer;

      @media (min-width: $tablet) {
        top: 2px;
        left: -13px;
        width: 40px;
        height: 40px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 6px;
      width: 21px;
      height: 16px;
      background: url("../img/icon-tick.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: scale(0);
      cursor: pointer;

      @media (min-width: $tablet) {
        top: 14px;
        left: -3px;
      }
    }
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
  }
}

.form__input--radio-field:checked~.form__label--radio-field::after,
.form__input--checkbox-field:checked~.form__label--checkbox-field::after {
  transform: scale(1);
}

.form__wrap-for-desktop {

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form__description {
  @include indent-reset;
  margin-bottom: 41px;
  padding-right: 40px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    width: 432px;
    margin-bottom: 69px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 30px;
  }
}

.form__legend {
  display: block;
  margin-bottom: 31px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-family: $arial;
  text-align: center;
  color: $grey;

  @media (min-width: $tablet) {
    margin-bottom: 1px;
    margin-left: 64px;
    font-size: 16px;
    line-height: 16px;
  }
}

.form__title {
  @include indent-reset;
  position: relative;
  margin: 31px 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $black;

  &--user {
    margin-bottom: 34px;

    @media (min-width: $tablet) {
      margin: 0;
      margin-top: 75px;
      margin-bottom: 77px;
    }
  }

  &--comment {
    margin-bottom: 37px;

    @media (min-width: $tablet) {
      margin: 0;
      margin-top: 67px;
      margin-bottom: 76px;
    }
  }

  &--extra {
    margin-top: 27px;
    margin-bottom: 39px;

    @media (min-width: $tablet) {
      margin-top: 65px;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    margin-right: -100%;
    margin-left: 42px;
    vertical-align: middle;
    background-color: $green;
  }

  &::before {

    @media (min-width: $tablet) {
      content: "";
      display: inline-block;
      width: 100%;
      height: 3px;
      margin-right: 39px;
      margin-left: -100%;
      vertical-align: middle;
      background-color: $green;
    }
  }

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__info {
  font-size: 14px;
  line-height: 20px;
  font-family: $arial;
  color: $grey;
}

.form__textarea-msg {
  width: 100%;
  min-width: 280px;
  height: 150px;
  padding-top: 9px;
  padding-left: 14px;
  color: $grey;
  text-transform: uppercase;
  resize: none;

  @media (min-width: $tablet) {
    width: 631px;
    height: 173px;
    margin-left: 40px;
    padding-top: 12px;
    padding-left: 18px;
    font-size: 20px;
  }
}

.form__submit-box {

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding-bottom: 72px;
  }
}

.form__icon {
  position: absolute;

  &--tel {
    right: 33px;

    @media (min-width: $tablet) {
      right: 83px;
    }
  }

  &--email {
    right: 36px;

    @media (min-width: $tablet) {
      right: 86px;
    }
  }
}
