.main-nav {
  position: relative;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  right: 10px;
  width: 24px;
  height: 18px;
  background-color: transparent;
  border: 0;
  padding: 15px;
}

.main-nav__burger {
  position: absolute;
  top: 0;
  width: 24px;
  height: 2px;
  background-color: $black;

  &::before {
    position: absolute;
    top: 7px;
    content: "";
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
  }

  &::after {
    position: absolute;
    top: -7px;
    content: "";
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $black;
    }
}

.main-nav__list {
  @include list-reset;
}

.main-nav__link {
  color: $black;
}

