.page-main__title {
  @include indent-reset;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: $black;
  overflow: hidden;

  @media (min-width: $tablet) {
    max-width: 100%;
    overflow: hidden;
    font-size: 60px;
  }

  &--catalog-page,
  &--form-page {
    padding: 20px;
    padding-top: 13px;

    @media (min-width: $tablet) {
      padding: 30px;
      padding-top: 42px;

    @media (min-width: $desktop) {
      padding: 37px;
      padding-top: 73px;
    }
  }
  }

  &--catalog-page {
    padding-bottom: 29px;
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;

    @media (min-width: $desktop) {
      border: none;
    }
  }

  &--form-page {
    padding-bottom: 25px;
    border-top: 1px solid $border;

    @media (min-width: $tablet) {
      padding-bottom: 54px;
    }
  }
}
