.page-footer {
  background-color: $bg-grey;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.page-footer__social {
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
}

.page-footer__list {
  @include list-reset;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.page-footer__item {
  padding: 0 18px;
  width: 22px;
  height: 22px;
  border: 1px solid black;
}

.page-footer__copyright {
  padding-top: 15px;
}

.page-footer__copy-text {
  line-height: 16px;
  font-family: $arial;
  color: $grey;
}

.page-footer__text-icon {
  display: block;
  margin: 0 auto;
  padding: 39px 0 32px;
}

.page-footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 280px;
}
