.product__title {
  font-size: 36px;
  line-height: 60px;
}

.product__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    justify-content: space-between;
    align-items: center;
  }
}

.product__image {

  @media (min-width: $tablet) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 263px;
  }
}

.product__link {
  width: 140px;

  @media (min-width: $tablet) {
    width: auto;
  }
}

.product__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 324px;
    padding-bottom: 27px;
    text-align: center;
    background-image: linear-gradient(to top, #f2f2f2 75%, #ffffff 25%);
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: -20px;
    width: calc(100% + 40px);
    height: 1px;
    background-color: $border;
    @media (min-width: $tablet) {
      display: none;
    }
  }
}

.product__subtitle {
  display: block;
  width: 77px;
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    min-width: 135px;
    margin: 0 auto;
    margin-top: 37px;
    font-size: 20px;
  }
}

.product__table {
  @include indent-reset;
  width: 140px;
  border-collapse: collapse;
  font-size: 12px;
  line-height: 16px;
  font-family: $arial;
  color: $grey;

  @media (min-width: $tablet) {
    width: 250px;
    margin: 26px auto 0;
    font-size: 16px;
  }
}

.product__row {

  @media (min-width: $tablet) {
    display: block;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid $border-light;
  }
}

.product__cell {

  &:not(:nth-last-of-type(2n)) {
    text-align: end;
  }
}
