.product__title {
  font-size: 36px;
  line-height: 60px;
}

.product__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.product__btn {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $white;
}

.product-table {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}
