.show-more__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $black;
  text-transform: uppercase;
}

.show-more__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $arial;
  color: $grey;
}
