.show-more__subtitle {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.show-more__text {
  font-family: $arial;
  font-size: 12px;
  line-height: 16px;
  color: $grey;
}

.show-more__link {
  font-size: 16px;
  line-height: 20px;
  color: $grey;
}
