.slider__toggle {
  padding: 0;
  line-height: 20px;
  text-transform: uppercase;
  background-color: transparent;
  border: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    color: $black;
  }
}

.slider__controls {
  display: flex;
  justify-content: space-between;
}
