@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff");
}

@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/oswaldmedium.woff2"), url("../fonts/oswaldmedium.woff");
}
