html,
body {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: auto;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  font-family: "Oswald", Arial, sans-serif;
  background-color: $white;
  font-weight: normal;
  color: $grey;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
}

.no-overflow {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
