$white:#ffffff;
$black:#111111;
$blackish:#222222;
$grey: #444444;
$green: #68b738;
$bg-green: #65a93c;
$bg-grey: #f2f2f2;
$border:#ededed;

$arial: arial, helvetica, sans-serif;
$oswald: "Oswald", arial, sans-serif;

$tablet: 768px;
$desktop: 1200px;
